<!DOCTYPE html> 

<html> 
  <head>    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>AJAX calc test</title>     
    <script>      
    number_url= location.protocol + "//" + location.host + "/number/view.json" 
    function send_query(){
      var frm = document.forms.number_form;
      var param_str = "?" + "arr=" + frm.arr.value
      if (param_str == "") return false;
      var my_JSON_object = {};
      var http_request = new XMLHttpRequest();
      http_request.open("GET", number_url+param_str, true);
      http_request.onreadystatechange = function () {
        var done = 4, ok = 200;
        if (http_request.readyState == done && http_request.status == ok) {
          my_JSON_object = JSON.parse(http_request.responseText);
          show_result(my_JSON_object);
        }        
      };
      http_request.send(null);
        return false;      
    }      
    function show_result(data){
      var result = document.getElementById("result");
      result.innerHTML = "";
      if (data.type != "Array")
      {
          result.innerHTML = "<hr/>Result is: " + data.value + "<hr/>";
      } 
      else
      {
          var length = 0, ii = 0;
          for (var i = 0; i < data.value.length; ++i)
          {
              result.innerHTML += "<hr>Array: " + data.value[i] + "</hr>";
              if (data.value[i].length > length)
              {
                  length = data.value[i].length;
                  ii = i;
              }
          }
          result.innerHTML += "<hr>max length:" + length + "</hr>";
          result.innerHTML += "<hr>Array with max length:" + data.value[ii] + "</hr>";
      }
    }    
    </script> 
  </head> 
  <body>    
   <form name="number_form" method="get">
      <label for="numbers">Search perfect number:</label>
      <input id="arr" name="arr" type="text" />  <br/>
      <input name="commit" type="submit" value="Get result" onclick="return send_query();" />
    </form>   
    <div id="result"></div> 
  </body> 
</html>
